extends layout

block content
  div
    div
      h1 Gestão de Condominios
      div
        h3 
          a(href='movimentos') Movimentos
        h3 
          a(href='pagamentos') Pagamentos
        h3 Recebidos: 
          l Indisponivel
        h3 Pagamentos: 
          l Indisponivel